

<form asp-action="Save" asp-controller="Categories" method="post">

    <input name="CategoryName" type="text" placeholder="enter category name" /><br />
    <textarea name="Description" placeholder="enter category description"></textarea>
    <input type="submit" value="Create" />
</form>